@page
@model FUMiniHotelManagementClient.Pages.LoginModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Job Dashboard | By Code Info</title>
    <link rel="stylesheet" href="/css/log.css" />
    <!-- Font Awesome Cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form method="post" asp-action="OnPostAsync" class="login">
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input asp-for="Email" type="text" class="login__input" placeholder="User name / Email">
                    </div>

                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input asp-for="Password" type="password" class="login__input" placeholder="Password">
                    </div>

                    @if (ViewBag.Message != null)
                    {
                        <div class="alert-danger">@ViewBag.Message</div>
                    }
                    <button class="button login__submit">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </button>
                    <a href="Register">Register</a>
                </form>
                <div class="social-login">
                    <h3>log in via</h3>
                    <div class="social-icons">
                        <a href="#" class="social-login__icon fab fa-instagram"></a>
                        <a href="#" class="social-login__icon fab fa-facebook"></a>
                        <a href="#" class="social-login__icon fab fa-twitter"></a>
                    </div>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>


</body>

</html>