@page
@using Microsoft.AspNetCore.Http;
@model FUMiniHotelManagementClient.Pages.ViewRoomInformationModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <title>Job Dashboard | By Code Info</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/popup.css" />
    <!-- Font Awesome Cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>

    <div class="container">
        <nav>
            @if (HttpContext.Session.GetInt32("ROLE") == 1)
            {
                <div class="navbar">
                    <div class="logo">
                        <img src="/pic/logo.jpg" alt="">
                        <h1>Hotel</h1>
                    </div>
                    <ul>
                        <li>
                            <a href="CustomerInformation">
                                <i class="fas fa-user"></i>
                                <span class="nav-item">Customer</span>
                            </a>
                        </li>
                        <li>
                            <a href="RoomInformation">
                                <i class="fas fa-chart-bar"></i>
                                <span class="nav-item">Room</span>
                            </a>
                        </li>
                        <li>
                            <a href="AdminReservation">
                                <i class="fas fa-tasks"></i>
                                <span class="nav-item">Reservation</span>
                            </a>
                        </li>

                        <li>
                            <a href="ReportStatistic">
                                <i class="fab fa-dochub"></i>
                                <span class="nav-item">Statistic</span>
                            </a>
                        </li>
                        <li>
                            <a href="Login" class="logout">
                                <i class="fas fa-sign-out-alt"></i>
                                <span class="nav-item">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div class="navbar">
                    <div class="logo">
                        <img src="/pic/logo.jpg" alt="">
                        <h1>Hotel</h1>
                    </div>
                    <ul>
                        <li>
                            <a href="CustomerReservation">
                                <i class="fas fa-tasks"></i>
                                <span class="nav-item">Reservation </span>
                            </a>
                        </li>
                        <li>
                            <a href="Profile">
                                <i class="fas fa-user"></i>
                                <span class="nav-item">Topic</span>
                            </a>
                        </li>

                        <li>
                            <a href="Login" class="logout">
                                <i class="fas fa-sign-out-alt"></i>
                                <span class="nav-item">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            }

        </nav>

        <section class="main">
            <div class="main-top">
                <p>Dam Anh Bang SE150648 University</p>
            </div>
            <div class="main-body">



                <h1>View Detail Room</h1>

                <form method="post" enctype="multipart/form-data">
                    <div style="display: flex;">
                        <div style="width: 49%; padding-right: 1%; text-align: right;">
                            <img src="https://static.vecteezy.com/system/resources/thumbnails/025/019/602/small/camping-hiking-nature-mountain-river-graphic-illustration-vector-art-t-shirt-design-generative-ai-png.png" style="width: 100%; text-align: center;">
                        </div>
                        <div style="width: 49%; padding-left: 1%;">
               @*              <input type="hidden" asp-for="RoomInformations.RoomId">
                            <label for="fname">Number:</label><br>
                            <input disabled asp-for="RoomInformations.RoomNumber" style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%; transition: border-color 0.3s;"><br>
                            <label for="lname">Detail Description:</label><br>
                            <input disabled asp-for="RoomInformations.RoomDetailDescription" style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%; transition: border-color 0.3s;"><br>
                            <label for="lname">Max Capacity:</label><br>
                            <input disabled asp-for="RoomInformations.RoomMaxCapacity" style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%; transition: border-color 0.3s;"><br>
                            <label for="fname">Type name:</label><br>
                            <input disabled asp-for="RoomInformations.RoomTypeName" style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%; transition: border-color 0.3s;"><br>
                            <label for="fname">Type description:</label><br>
                            <input disabled asp-for="RoomInformations.TypeDescription" style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%; transition: border-color 0.3s;"><br>
                            <label for="fname">Type note:</label><br>
                            <input disabled asp-for="RoomInformations.TypeNote" style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%; transition: border-color 0.3s;"><br>
                            <label for="fname">Price per day:</label><br>
                            <input disabled asp-for="RoomInformations.RoomPricePerDay" style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%; transition: border-color 0.3s;"><br> *@
                        </div>

                    </div>
                </form>


            </div>
        </section>
    </div>
    @if (HttpContext.Session.GetInt32("ROLE") == 1)
    {
        <button class="open-button" onclick="openForm()">Update Room</button>
    }



    <div class="form-popup" id="myForm">
        <form method="post" class="form-container">

            <label for="RoomNumber"><b>Number</b></label>
            @* <input type="text" asp-for="RoomInformations.RoomNumber" required>
            <span asp-validation-for="RoomInformations.RoomNumber" class="text-danger"></span>

            <label for="RoomDetailDescription"><b>Detail Description </b></label>
            <input type="text" asp-for="RoomInformations.RoomDetailDescription" required>
            <span asp-validation-for="RoomInformations.RoomDetailDescription" class="text-danger"></span>

            <label for="RoomMaxCapacity"><b>Max Capacity</b></label>
            <input type="number" min="1" max="10" asp-for="RoomInformations.RoomMaxCapacity" required>
            <span asp-validation-for="RoomInformations.RoomMaxCapacity" class="text-danger"></span>
            <br></br>

            <label for="RoomType"><b>Type</b></label>
            <select asp-for="RoomInformations.RoomTypeId" asp-items="@(ViewData["RoomType"] as SelectList)" required>
                <option value="">Select Type</option>
            </select>

            <label for="RoomPricePerDay"><b>Price per day</b></label>
            <input type="number" asp-for="RoomInformations.RoomPricePerDay" required>
            <span asp-validation-for="RoomInformations.RoomPricePerDay" class="text-danger"></span>

            <input type="hidden" asp-for="RoomInformations.RoomStatus" value="1" required>
            <input type="hidden" asp-for="RoomInformations.RoomTypeId" value="RoomInformations.RoomTypeId" required>
            <input type="hidden" asp-for="RoomInformations.RoomTypeName" value="RoomInformations.RoomTypeId" required>
            <input type="hidden" asp-for="RoomInformations.TypeDescription" value="RoomInformations.RoomTypeId" required>
            <input type="hidden" asp-for="RoomInformations.TypeNote" value="RoomInformations.RoomTypeId" required>

            <input type="hidden" asp-for="RoomInformations.RoomId" required> *@

            <button type="submit" class="btn">Update</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>

    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>

</body>
</html>
